table {
    width: 800px;
}
tbody {
    background-color: rgba(0, 191, 255, 0.750);
}
thead {
    background-color: rgba(240, 230, 140, 0.750);
    font-size: 23px;
    color: red;
}

.topics {
    height: 25px;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
}

.writing {
    background-color: rgb(220, 255, 185);
    width: 94%;
    display: block;
    margin: auto;
}

.input-padding {
    padding-left: 10px;
}

.choose-file {
    background-color: rgb(220, 255, 185);
    margin: 1px auto 1px auto;
    display: block; 
}

.button {
    background-color: rgb(220, 255, 185);
    width: 245px; 
    height: 30px;
    margin: 1px auto 1px auto;
}